ul {
  padding-left: 20px;
  list-style: none;
}

li {
  margin-bottom: 5px;
  position: relative;
}

li::before {
  content: '';
  position: absolute;
  top: 5px;
  left: -20px;
  border-style: solid;
  border-width: 5px 8px 5px 0;
  border-color: transparent #000 transparent transparent;
  transform: rotate(90deg); /* Изначально стрелка смотрит вправо */
}

li.has-children::before {
  content: '';
  position: absolute;
  top: 5px;
  left: -20px;
  border-style: solid;
  border-width: 5px 8px 5px 0;
  border-color: transparent #000 transparent transparent;
  transform: rotate(90deg); /* Изначально стрелка смотрит вправо */
}

li.expanded::before {
  transform: rotate(-90deg); /* При раскрытии, стрелка поворачивается вниз */
}

li:not(.has-children)::before {
  /* Скрыть стрелку у элементов без дочерних элементов */
  display: none;
}
