<!-- <ng-template #treeNode let-node>
  <ul *ngIf="node">
    <li *ngFor="let key of nodeKeys(node)">
      <div>{{ key }}</div>
      <ng-container
        *ngTemplateOutlet="treeNode; context: { $implicit: node[key] }"
      ></ng-container>
    </li>
  </ul>
</ng-template>

<div>
  <h2>Дерево</h2>
  <ng-container
    *ngTemplateOutlet="treeNode; context: { $implicit: tree }"
  ></ng-container>
</div> -->
<div class="tree">
  <ng-container
    *ngTemplateOutlet="recursiveTree; context: { node: tree }"
  ></ng-container>
</div>

<ng-template #recursiveTree let-node="node">
  <ul *ngIf="node">
    <li *ngFor="let keyValuePair of getNodeChildren(node)">
      <span (click)="toggleNode(keyValuePair)">
        {{ keyValuePair.key }}
      </span>
      <ng-container
        *ngIf="isObject(keyValuePair.value) && keyValuePair.value.expanded"
      >
        <ng-container
          *ngTemplateOutlet="
            recursiveTree;
            context: { node: keyValuePair.value }
          "
        ></ng-container>
      </ng-container>
    </li>
  </ul>
</ng-template>
<!-- {{ keyValuePair.value }} -->
