<ul *ngIf="node">
  <li *ngFor="let keyValuePair of node">
    <span (click)="toggleNode(keyValuePair)">
      <ng-container *ngIf="!keyValuePair.id">
        <span *ngIf="keyValuePair.expanded">▼</span>
        <span *ngIf="!keyValuePair.expanded">►</span>
      </ng-container>
    </span>
    <input
      type="checkbox"
      [(ngModel)]="keyValuePair.checked"
      [indeterminate]="keyValuePair.indeterminate"
      (change)="toggleCheckbox(keyValuePair)"
    />
    <span>{{ keyValuePair.name }}</span>
    <ng-container *ngIf="keyValuePair.submenu.length && keyValuePair.expanded">
      <tree-item
        [node]="keyValuePair.submenu"
        (valueEmitted)="valueEmitted.emit($event)"
      ></tree-item>
    </ng-container>
  </li>
</ul>
<!-- [indeterminate]="true" -->
